<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#saved-articles">Saved Articles<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#getJobs">Jobs</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
        </form>
    </div>
</nav>
<div class="container shadow-lg p-3 mt-3 mb-3 rounded container-dashboard">
    <div class="row">
        <div class="col-12 col-md-12">
            <h1>Saved Articles!<span id="test"></span></h1>
            <ol>
                {{#each articles}}
                <li>
                    <img src={{this.image}}>
                    <a href="{{url}}">{{this.title}}</a>
                    <a href="#" id="delete-article" data-id={{this.id}}>Delete</a>
                    <hr>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/dashboard.js"></script>