<body class="dashboard-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <span class="navbar-brand">&ltDevHelper/&gt</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="articles" href="/articles">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobs">Jobs</a>
                </li>
            </ul>
            <form class="text-right my-2 my-lg-0 ml-auto">
                <span class="currentUser text-white mr-2" data-id="{{username.id}}">Welcome,
                    {{username.firstname}}</span>
                <a href="/logout" class="btn btn-outline bg-transparent my-2 my-sm-0">Logout</a>
            </form>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid jumbotron-dashboard container-quote">
        <div class="text-center">
            <h2><i class="fas fa-comment"></i> Quote of the Day</h2>
            <blockquote class="blockquote" id="quote"></blockquote>
            <footer class="blockquote-footer text-white" id="authorQuote"></footer>
        </div>
    </div>
    <div class="container shadow-lg p-3 mt-3 mb-3 rounded container-dashboard">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="card bg-info dailyTerm mt-3">
                            <div class="card-header text-white">
                                Knowledge Check
                            </div>
                            <div class="card-body">
                                <h5 id="term" class="card-title"></h5>
                                <button class="btn mr-2" type="button" data-toggle="collapse" data-target="#termDefine"
                                    aria-expanded="false" aria-controls="termDefine">
                                    Definition
                                </button>
                                <button id="nextTerm" class="btn">Next Term <i
                                        class="fas fa-chevron-right"></i></button>
                                <div class="collapse mt-2" id="termDefine">
                                    <div class="card card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card bg-info intQ">
                            <div class="card-header text-white">
                                Interview Practice </div>
                            <div class="card-body">
                                <h5 id="intQuestion" class="card-title"></h5>
                                <button class="btn mr-2" type="button" data-toggle="collapse" data-target="#intAnswer"
                                    aria-expanded="false" aria-controls="intAnswer">
                                    Sample Answer
                                </button>
                                <button id="nextQuestion" class="btn">Next Question <i
                                        class="fas fa-chevron-right"></i></button>
                                <div class="collapse mt-2" id="intAnswer">
                                    <div class="card card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card rounded bg-transparent text-white">
                            <img class="card-img" src="../images/card-career.jpg" alt="Card image">
                            <div class="card-img-overlay text-center">
                                <h5 class="card-title">Career Opportunities</h5>
                                <div class="buttons text-center">
                                    <button id="getJobs" class="btn mr-1 ml-1">All</button>
                                    <button class="btn mr-1 ml-1">Front-End</button>
                                    <button class="btn mr-1 ml-1">Back-End</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 mt-3 mb-2 container-article">
                <h3 class="text-left" id="title"></h3>
                <div class="row">
                    <div class="col pt-3">
                        <span id="author"></span>
                        <span id="date"></span>
                    </div>
                    <div class="col text-right mb-2">
                        <button class="btn pt-2" id="prevArt"><i class="fas fa-angle-left"
                                style="font-size: 26px"></i></button>
                        <button class="btn pt-2" id="nextArt"><i class="fas fa-angle-right"
                                style="font-size: 26px"></i></button>
                    </div>
                </div>
                <div class="container-image">
                    <img id="articleImg" class="rounded" style="object-fit: cover">
                </div>
                <p id="content" class="mt-2"></p>
                <a href="#" id="url" target="_blank" class="btn">Read Full Article</a>
                <button class="btn" id="save-article"><a href="/articles"></a>Save Article</button>
            </div>
        </div>

        <hr style="border-color: white">

        <div id="goals" class="rounded">
            <div class="row mt-3 mb-2">
                <div class="col-12">
                    <div class="row text-center mt-3">
                        <div class="col-12 col-lg-4 col-md-6">
                            <h5>Currently Learning <i class="fas fa-graduation-cap"></i></h5>
                            <ul class="list-group goal-list ml-3 mr-3 mb-3">
                                <li class="bg-transparent shadow-none border-0 list-group-item new-item">
                                    <form id="goal-form">
                                        <div class="row">
                                            <div class="col">
                                                <input class="new-item form-control float-left"
                                                    placeholder="Add new topic" type="text" style="width: 75%" />
                                                <button type="submit" class="btn btn-goal float-right pr-3 pl-3"
                                                    style="width: auto"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <span class="goal-container text-dark">
                                </span>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6">
                            <h5>Currently Building <i class="fas fa-tools"></i></h5>
                            <ul class="list-group build-list ml-3 mr-3 mb-3">
                                <li class="bg-transparent shadow-none border-0 list-group-item new-item">
                                    <form id="build-form">
                                        <div class="row">
                                            <div class="col">
                                                <input class="new-item-build form-control float-left"
                                                    placeholder="Add new project" type="text" style="width: 75%" />
                                                <button type="submit" class="btn btn-goal float-right pr-3 pl-3"
                                                    style="width: auto"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <span class="build-container text-dark">
                                </span>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6">
                            <h5>Next Steps <i class="fas fa-question"></i></h5>
                            <ul class="list-group next-list ml-3 mr-3 mb-3">
                                <li class="bg-transparent shadow-none border-0 list-group-item new-item">
                                    <form id="next-form">
                                        <div class="row">
                                            <div class="col">
                                                <input class="new-item-next form-control float-left"
                                                    placeholder="Add future goals" type="text" style="width: 75%" />
                                                <button type="submit" class="btn btn-goal float-right pr-3 pl-3"
                                                    style="width: auto"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <span class="next-container text-dark">
                                </span>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
</body>