<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id = "articles" href="/articles">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#getJobs">Jobs</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
        </form>
    </div>
</nav>
{{user.id}}
<div class="row container-quote">
    <div class="col-12 mb-3 mt-3">
        <h4 id="quote" class="text-center">
        </h4>
        <h6 class="text-right">-<span id = "author"></span></h6>
    </div>
</div>
<div class="container shadow-lg p-3 mt-3 mb-3 rounded container-dashboard">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-info dailyTerm mt-3">
                        <div class="card-header">
                            Term of the Day
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Content Management System (CMS)</h5>
                            <button class="btn btn" type="button" data-toggle="collapse" data-target="#termDefine"
                                aria-expanded="false" aria-controls="termDefine">
                                Definition
                            </button>
                            <div class="collapse" id="termDefine">
                                <div class="card card-body">
                                    definition goes here
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card text-white bg-info intQ">
                        <div class="card-header">
                            Interview Practice </div>
                        <div class="card-body">
                            <h5 class="card-title">Can you explain the order of importance of CSS rules?</h5>
                            <button class="btn" type="button" data-toggle="collapse" data-target="#intAnswer"
                                aria-expanded="false" aria-controls="intAnswer">
                                Sample Answer
                            </button>
                            <div class="collapse" id="intAnswer">
                                <div class="card card-body">
                                    answer goes here
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 mt-3">
            <h3 class="text-center" id="title">Android Q adds shiny new APIs while blocking others</h3>
            <p><span id="author">By Ryan Daws</span> | <span id="date">March 14, 2019</span></p>
            <p id="content">What's being added or changed is always more exciting than what's being taken away, so it's
                where we'll start.

                We know Google is taking AI seriously and is building it into most of its own products, this API
                helps developers in doing the same.

                The API was first released in 2017 but in Android Q it's being updated with performance improvements and
                support for 60
                new operations including ARGMAX, ARGMIN, and quantised LSTM.

                Primarily, it will help apps function more...</p>
            <a href="#" id="url" target="_blank" class="btn">Read Full Article</a>
            <button class="btn" id="getNext">Next Article</button>
            <button class="btn" id="previous">Previous</button>
            <button class="btn" id="save-article"><a href="/articles"></a> Save Article</button>
        </div>
    </div>
    <div id="goals" class="rounded">
        <hr>
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <h4 class="text-center">My Goals</h4>
                <hr style="border-color: white">
                <div class="row text-center mb-5">
                    <div class="col">
                        <h5>Currently Learning</h5>
                        <div id = "todo-table">
                            <form>
                                <input type = "text" name = "item" placeholder = "Add New Goal..."/>
                                <button type = "submit">Add Goal</button>
                            </form>
                            <ul> 
                                {{{todos}}}                                  
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <span>Currently Building</span>
                    </div>
                    <div class="col">
                        <span>What's Next?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="getJobs" class="btn btn-block">Get Jobs</button>
</div>

<div id="jobs"></div>

{{dbTerms}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>