<body class="dashboard-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <span class="navbar-brand">&ltDevHelper/&gt</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="articles" href="/articles">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobs">Jobs</a>
                </li>
            </ul>
            <form class="text-right my-2 my-lg-0 ml-auto">
                <span class="currentUser text-white mr-2" data-id="{{username.id}}">Welcome,
                    {{username.firstname}}</span>
                <a href="/logout" class="btn btn-outline bg-transparent my-2 my-sm-0">Logout</a>
            </form>
        </div>
    </nav>

    <div class="row container-quote">
        <div class="col-10 mx-auto mt-3 mb-3 text-center">
            <h3>Quote of the Day</h3>
            <p id="quote"></p>
            - <span id="authorQuote"></span> -
        </div>
    </div>
    <div class="container shadow-lg p-3 mt-3 mb-3 rounded container-dashboard">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col">
                        <div class="card bg-info dailyTerm mt-3">
                            <div class="card-header text-white">
                                Term of the Day
                            </div>
                            <div class="card-body">
                                <h5 id="term" class="card-title"></h5>
                                <button class="btn mb-2" type="button" data-toggle="collapse" data-target="#termDefine"
                                    aria-expanded="false" aria-controls="termDefine">
                                    Definition
                                </button>
                                <div class="collapse" id="termDefine">
                                    <div class="card card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card bg-info intQ">
                            <div class="card-header text-white">
                                Interview Practice </div>
                            <div class="card-body">
                                <h5 id="intQuestion" class="card-title"></h5>
                                <button class="btn mb-2" type="button" data-toggle="collapse" data-target="#intAnswer"
                                    aria-expanded="false" aria-controls="intAnswer">
                                    Sample Answer
                                </button>

                                <div class="collapse" id="intAnswer">
                                    <div class="card card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card bg-info">
                            <div class="card-header text-white">
                                Career Opportunities</div>
                            <div class="card-body">
                                <h5 id="careers" class="card-title"></h5>
                                <button id="getJobs" class="btn mb-2">All</button>
                                <button class="btn mb-2">Front-End</button>
                                <button class="btn mb-2">Back-End</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 mt-3 container-article">
                <h3 class="text-left" id="title"></h3>
                <div class="row">
                    <div class="col pt-3">
                        <span id="author"></span>
                        <span id="date"></span>
                    </div>
                    <div class="col text-right mb-2">
                        <button class="btn" id="prevArt"><i class="fas fa-angle-left"
                                style="font-size: 26px"></i></button>
                        <button class="btn" id="nextArt"><i class="fas fa-angle-right"
                                style="font-size: 26px"></i></button>
                    </div>
                </div>
                <div class="container-image">
                    <img id="articleImg" class="rounded" style="object-fit: cover">
                </div>
                <p id="content" class="mt-2"></p>
                <a href="#" id="url" target="_blank" class="btn">Read Full Article</a>
                <button class="btn" id="save-article"><a href="/articles"></a> Save Article</button>
            </div>
        </div>

        <div id="goals">
            <div class="row mt-3 mb-3">
                <div class="col-12">
                    <h4 class="text-center">My Goals</h4>
                    <div class="row text-center mb-5">
                        <div class="col">
                            <h5>Currently Learning</h5>
                            <ul class="list-group todo-list">
                                <li class="list-group-item new-item">
                                    <form id="todo-form">
                                        <input class="new-item form-control" placeholder="Add a todo" type="text" />
                                        <button type="submit" class="btn btn-success">Add Todo</button>
                                    </form>
                                </li>
                                <span class="todo-container text-dark">
                                </span>
                            </ul>
                        </div>
                        <div class="col">
                            <span>Currently Building</span>
                        </div>
                        <div class="col">
                            <span>What's Next?</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="jobs"></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
</body>