<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container container-dashboard">
    <div class="row quote-container">
        <div class="col-12 mt-3">
            <h4 class="text-center">"Vision without action is a daydream. Action without vision is nightmare...."</h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col">
                    <div class="card text-dark dailyTerm">
                        <div class="card-header">
                            Term of the Day
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Content Management System (CMS)</h5>
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#termDefine" aria-expanded="false" aria-controls="termDefine">
                                Definition
                            </button>
                            <div class="collapse" id="termDefine">
                                <div class="card card-body">
                                    definition goes here
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card text-dark intQ">
                        <div class="card-header">
                            Interview Practice </div>
                        <div class="card-body">
                            <h5 class="card-title">Can you explain the order of importance of CSS rules?</h5>
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#intAnswer" aria-expanded="false" aria-controls="intAnswer">
                                Sample Answer
                            </button>
                            <div class="collapse" id="intAnswer">
                                <div class="card card-body">
                                    answer goes here
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <h3 class="text-center">Android Q adds shiny new APIs while blocking others</h3>
            <p><span>By Ryan Daws</span> | <span>March 14, 2019</span></p>
            <p>What's being added or changed is always more exciting than what's being taken away, so it's where
                we'll start.

                We know Google is taking AI seriously and is building it into most of its own products, this API
                helps developers in doing the same.

                The API was first released in 2017 but in Android Q it's being updated with performance improvements and
                support for 60
                new operations including ARGMAX, ARGMIN, and quantised LSTM.

                Primarily, it will help apps function more...</p>
            <button class="btn">Show Full Article</button> <button class="btn">Get More Articles</button>
        </div>
    </div>
    <div class="myGoals">
        <hr>
        <div class="row mt-3 mb-5">
            <div class="col-12">
                <h4 class="text-center">My Goals</h4>
                <hr style="border-color: white">

                <div class="row text-center">
                    <div class="col">
                        <h5>Currently Learning</h5>
                        <button class="btn">Item 1</button>

                    </div>
                    <div class="col">
                        <span>Currently Building</span>
                    </div>
                    <div class="col">
                        <span>What's Next?</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>