<body class="homepage">
    <div class="container">
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row">
            <div class="col-6 col-lg-4 offset-4 text-center text-dark p-3 rounded summary">
                <h1>Welcome to DevHelper!</h1>
                <h3>The only app a web developer needs</h3>
                <h5 class="mb-4">Are you an aspiring web developer looking to sharpen your skills and knowledge?
                </h5>
                <a href="/signin" class="btn-lg btn-custom mr-2">Sign In</a>
                <a href="/signup" class="btn-lg btn-custom-outline">Create an Account</a>
            </div>
        </div>
    </div>
</body>