<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand text-white" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Goals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tips</a>
            </li>
        </ul>
        <a href="/signin" class="btn btn-signin bg-transparent mr-2">Sign In</a>
        <a href="/signup" class="btn btn-signup">Create an Account</a>
    </div>
</nav>

<div class="container home">
    <div class="row">
        <div class="col-md-12 text-center mt-5 text-white">
            <h1>{{quote}}</h1>
        </div>
    </div>
</div>