<body class="homepage">
    <div class="container container-home">
        <div class="row">
            <div class="col-md-12 text-center text-white">
                <div class="title mb-4">
                    <h1>
                        &ltDevHelper/&gt
                    </h1>
                    <h3>The only app a web developer needs</h3>
                    <h5>Are you an aspiring web developer looking to sharpen your skills and knowledge? Then DevHelper
                        is
                        for
                        you.</h5>
                </div>
                <a href="/signin" class="btn-lg btn-signin bg-transparent mr-2">Sign In</a>
                <a href="/signup" class="btn-lg btn-signup">Create an Account</a>

            </div>
        </div>
    </div>
    <div class="col-12 mx-auto mt-5 pb-2 pt-3 bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    Getting inspired by the Quote of the Day
                </div>
                <div class="col">
                    Testing your knowledge of common terms
                </div>
                <div class="col">
                    Practice answering interview questions
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col">
                    Track your goals and current projects
                </div>
                <div class="col">
                    Stay up to date on industry news
                </div>
                <div class="col">
                    Discover career opportunities
                </div>
            </div>
        </div>
    </div>
</body>