<div class="row">
    <div class="col-md-12 text-center mt-5 text-white">
        <h1>{{quote}}</h1>
        <br>
        <a href="/signin" class="btn btn-signin btn-lg bg-transparent">Sign In</a>
        <a href="/signup" class="btn btn-signup btn-lg">Create an Account</a>
    </div>
</div>