<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>

<body id="jobs-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">&ltDevHelper/&gt</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="articles" href="/articles">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a id="getJobs" class="nav-link" href="/jobs">Jobs</a>
                </li>
            </ul>
            <form class="text-right my-2 my-lg-0 ml-auto">
                <span class="currentUser text-white mr-2" data-id="{{username.id}}">Welcome,
                    {{username.firstname}}</span>
                <a href="/logout" class="btn btn-outline-light my-2 my-sm-0">Logout</a>
            </form>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-white text-center"><i class="fas fa-briefcase"></i> Jobs</h1>
        <div class="row mt-5">
            <div class="col-12 col-md-12">
                <div id="jobsContainer">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
</body>