/* GLOBAL */
html,
body {
    color: #333;
    font-family: 'Cabin',
        Sans-Serif;
}

hr {
    border-color: #fff;
    border-width: 3px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.shadow {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* applies to Currently Learning, Currently Building and Next Steps */
.list-group-item {
    line-height: 2.5;
}

/* ============================ */
/* NAVBAR */
/* ============================ */

/* ============================ */
/* BUTTONS */
/* ============================ */
.btn-custom-outline {
    border: 2px solid #80A6A4;
    color: #6A8A88;
}

.btn-custom-outline:hover {
    border: 2px solid #222;
    color: #222;
}

.btn-custom {
    border: 2px solid #80A6A4;
    background-color: #80A6A4;
    color: #fff;
}

.btn-custom:hover {
    background-color: #fff;
    border: 2px solid #80A6A4;
    color: #6A8A88;
}

/* ============================ */
/* PAGES */
/* ============================ */

/* signin.hbs */
#signin-page,
#signup-page,
#articles-page,
#jobs-page {
    background-color: #BECCCC;
}

#dashboard-page,
#jobs-container {
    background-color: #E9F0F0;
}

#jobsContainer {
    color: #222;
}

/* home.hbs */
.homepage {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.homepage .heading {
    margin-top: 15%;
}

.homepage .summary {
    background: -webkit-linear-gradient(-65deg, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .8) 100%);
    position: relative;
    left: 34%;
}

/* dashboard.hbs */
.currentUser {
    border-bottom: 2px solid #BECCCC;
}

.container-image>img {
    width: 100%;
    height: 350px;
}

#goals {
    background: #BECCCC;
}

.testimonial-quote blockquote {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed',
        Sans-Serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    z-index: 600;
}

.testimonial-quote blockquote p {
    color: #75808a;
    line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #BECCCC;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .5;
    position: absolute;
    top: -.4em;
    left: -.2em;
    z-index: -300;
}

.testimonial-quote cite {
    color: gray;
    display: block;
    font-size: .8em;
}

.testimonial-quote cite span {
    color: #222;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white;
}

/* articles.hbs */

/* ============================ */
/* CARDS */
/* ============================ */
.card-img-overlay .buttons {
    width: 100%;
    margin: 50% 0;
    top: 0%;
    position: relative;
    z-index: 1;
}

.card-img-overlay .card-title {
    top: 65%;
    font-size: 1.7rem;
    position: relative;
}

.card .card-img {
    opacity: .8;
}