/* MAIN COLORS */
/* 
*/

hr {
    border-color: #F64C70;
    border-width: 3px;
}

.homepage {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.signin-page {
    background-color: #2026B3;
}

.signin-page .btn-submit {
    background-color: #F64C70;
    color: #fff;
}

.signin-page .btn-cancel {
    border: 2px solid #F64C70;
    color: #F64C70;
}

.dashboard-page {
    background-color: #2026b3;
}

.container-article {
    color: #fff;
}

.navbar .navbar-brand {
    color: #F64C70;
}

.navbar-nav a {
    color: #fff;
}

.navbar-nav a:hover {
    color: #fff;
    opacity: .8;
}

.list-group-item {
    line-height: 2.5;
}

/* Dashboard */
.container-dashboard {
    color: #222;
}

.container-quote {
    font-style: italic;
    color: #FFF;
}

#quote {
    font-size: 1em;
    opacity: .9;
}

#authorQuote {
    font-size: 1em;
    opacity: .9;
}

#date {
    font-style: italic;
    font-size: .9em;
}

.container-image>img {
    max-width: 100%;
    max-height: 100%;
}

#goals {
    background-color: #05386b;
    color: #fff;
}

.card-header {
    background: -webkit-linear-gradient(-45deg, rgba(254, 99, 80, 1) 0%, rgba(246, 76, 112, 1) 100%);
}

.card.bg-info {
    background-color: rgb(245, 245, 245) !important;
}

.card {
    color: #222;
}

.dashboard-page .card .btn {
    background: -webkit-linear-gradient(-45deg, rgba(254, 99, 80, 1) 0%, rgba(246, 76, 112, 1) 100%);
    color: #fff;
}